<h3>Battle_Test</h3>
@page "/Battle Test"
@inject IHamsterService HamsterService
@inject NavigationManager NavigationManager
@using HamsterWarz.Client.Services;

@*@if (imageSource is not null)
{
    <div>
        <img src="@imageSource" />
    </div>

}
*@
@code {
      protected override async Task OnInitializedAsync()
    {
        await HamsterService.GetRandomHamster();
    }

    //private string? imageSource;
    //private int id1;
    //private int id2;
    //private Random rnd = new Random();

    //private string ShowImage(int id)
    //{
    //    id = rnd.Next(1, 41);

    //    imageSource = $"hamsters/hamster-{id}.jpg";
    //    return imageSource;

    //}


}
<table class="table">
   
    <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Loves</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
     
            <tr>
                <td> @HamsterService.hamster.Name</td>
                <td>@HamsterService.hamster.Age</td>
                <td>@HamsterService.hamster.Loves</td>
            </tr>    
    </tbody>
 </table>

@* <div class="container">
    <div class="row">

        <div class="col-sm-4 hover14">
                <figure>
                    <button onclick="location.reload();" class="button">
                        <img src="" class="img-fluid" />
                    </button>
                </figure>
        </div>

        <div class="col-sm-4">
            <img src="img/testImg/vs.png" class="img-fluid" />
        </div>

        <div class="col-sm-4 hover14">
            <figure>
                <button onclick="location.reload();" class="button">
                    <img id="hello" src="" class="img-fluid" />
                </button>
            </figure>
        </div>

    </div>
</div>*@

