@page "/"

<PageTitle>Welcome To HamsterWarz</PageTitle>

<article>
  <h1>Hamster Wars</h1>
  <p>How To Play:</p>
  <p>You press on a hamster that you think is cutest and that hamster would win!</p>
  <p>Good Luck!</p>

</article>
